.contenedor {
    background-color: white;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    
}

.numero01 {
    width: 35%;
    height: 35%;
    background-color: red;
    flex-wrap: nowrap;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.numero02 {
    width: 35%;
    height: 35%;
    background-color: blue;
    flex-wrap: nowrap;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numero03 {
    width: 35%;
    height: 35%;
    background-color: green;
    flex-wrap: nowrap;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}




























img {
    margin-left: -150px;
}